<% layout('./layout/page') -%>

<div class="text-right">
  <a href="/register" class="btn bg-slate btn-block btn-lg content-group">Register</a>
  <a href="/login" class="btn bg-slate btn-block btn-lg content-group">Login</a>
</div>

<p>Sorry, an error has occurred.</p>

<p><%=error.message%></p>
