<% layout('./layout/page') -%>

<br><br>
<div style="width: 60%; margin: 0 auto;">
<form method="post" class="form-signin text-center">
	<div class="text-center">
		<div class="icon-object border-success text-success"><i class="icon-plus3"></i></div>
		<h5 class="content-group-lg">Create account <small class="display-block">All fields are required</small></h5>
	</div>
    <label for="inputNickname" class="sr-only">Nickname</label>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="text" id="inputNickname" class="form-control" placeholder="Nickname" required="" autofocus="">
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    <div class="checkbox mb-3">

    </div>
    <button id="reg-btn" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
		<a href="/login" class="btn bg-slate btn-block btn-lg content-group">Login</a>
</form>
<span class="help-block error"></span>
</div>
<script>

$(function() {
    // $('#reg-btn"').on('click', function(e)
    $(document).find('#reg-btn').on('click', function(e)
    {
        e.preventDefault();

        var data = {
            username: $(document).find('#inputNickname').val(),
            password: $(document).find('#inputPassword').val(),
        };

        $.ajax({
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            url: '/register',
            statusCode: {
                200: function() {
                // form.html("You are logged in").addClass('alert-success');
                window.location.href = "/secret";
                },
                403: function(jqXHR) {
                var error = JSON.parse(jqXHR.responseText);
                // $(document).find('.error').after('<p>'+ error.message +'</p>');
                $(document).find('.error').text(error.message);
                }
            }
        });
    });
});
</script>
